name: Check product locales
on:
  schedule:
    - cron: "0 0 * * 3"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install Python dependencies
        run: |
          pip install -r .github/scripts/requirements.txt
      - name: Check product locales
        run: |
          python .github/scripts/check_product_locales.py --product firefox
